.singleItemOverlay{
    position: absolute;
    top: 0;
    height: 2000px;
    background-color: black;
    color: rgba(255, 255, 255, 0.158);
    width: 500px;
    z-index: -1;
}

.ItemDisplay{
    position: relative;
    width: 800px;
    height: 800px;
    /* left: 256px;
    top: 256px; */
    background-image: url('../home/images/bento/bento2.jpg');
    background-size: cover;
    border-radius: 24px;
    box-shadow: 0px 0px 20px 4px inset rgb(0, 0, 0);
}

.ItemDisplayContainer{
    width: fit-content;
    border-radius: 24px;
    margin-left: 100px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.493);
}

.ItemDisplay::before{
    content: '';
    position: absolute;
    width: 832px;
    height: 832px;
    translate: -16px -16px;
    background-image: url('./images/woodFrame.jpg');
    border-radius: inherit;
    z-index: -1;
}

.catagoryText{
    position: absolute;
    transform: rotate(-90deg);
    top: 700px;
    left: -220px;
    transform-origin: top left;
    white-space: nowrap;
}

.catagoryText h1{
    color: rgb(124, 124, 124);
    font-weight: 700;
    font-family: "Charis SIL";
    font-style: italic;
    letter-spacing: 14px;
    font-size: 96px;
}

.yearDisplay h1{
    font-size: 96px;
    letter-spacing: 16px;
    font-weight: 700;
    font-family: "Charis SIL";
    font-style: italic;
    color: rgb(124, 124, 124);
}

.yearDisplay{
    position: absolute;
    color: rgb(139, 139, 139);
    width: 200px;
    height: 200px;
    bottom: -200px;
    z-index: 2;
}

.gridSingleItem{
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 48px;
    margin-top: 192px;
    grid-template-areas:
    "ItemDisplay ItemInfo";
}

.ItemInfo{
    color: #6b6b6b;
}

.ItemUserEdits{
    display: flex;
    gap: 16px;
}

.singleItemFixed{
    position: relative;
}

.UserEdit{
    width: fit-content;
    height: 100px;
    background-color: black;
    border-radius: 24px;
    z-index: -5;
}

#WoodSelected::before{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 48px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    border-radius: inherit;
    z-index: -1;
}

#woodEdit{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 8px;
}

.exampleWood{
    position: relative;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    background-image: url('./images/woodFrame.jpg');
    margin: 8px;
}

.CommentInputBlock{
    width: 70%;
    height: 320px;
    border-radius: 24px;
    margin: auto;
    background: #060C12;
}

.ProfileContainer{
    display: flex;
    color: rgba(255, 255, 255, 0.705);
    justify-content: start;
    align-items: center;
    gap: 16px;
    padding: 32px;
}

.CommentProfilePic{
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 100px;
}

.StarRatingBlock{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.CommentInputBlock{
    margin: 32px auto;
}

.commentInputContainer{
    width: 85%;
    margin: auto;
}

.CommentInput{
    width: 90%;
    height: 96px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background-color: rgba(255, 255, 255, 0.185);
    border: none;
    font-size: 24px;
    padding: 16px;
}

.CommentInput input{
    color: wheat;
}

.submitCommentButton{
    height: 96px;
    width: 96px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: rgba(255, 255, 255, 0.185);
    border: none;
    border-left: 2px solid #060C12;
}

#commentForm{
    display: flex;
    flex-wrap: nowrap;
}

.userComment{
    padding-top: 16px;
    width: 90%;
    letter-spacing: 2.5px;
    text-align: justify;
}

.userTimeStamp{
    color: rgba(255, 255, 255, 0.445);
}

.userInteract{
    display: flex;
    gap: 32px;
}

.userHearts{
    color: rgba(255, 255, 255, 0.445);
    width: fit-content;
    cursor: pointer;
}

.userHearts h6{
    text-align: center;
}

.UserCommentBlock{
    min-height: 256px;
    padding: 32px;
    width: 70%;
    margin: 32px auto;
    border-radius: 24px;
    background-color: #060C12;
    color: white;
    display: grid;
    grid-template-columns: 128px 1fr max-content;
    grid-template-rows: min-content min-content max-content;
    grid-template-areas:
    "userPic userName userRating"
    "userPic userTimeStamp userTimeStamp"
    "userPic userComment userComment"
    "userReply userReply userReply";
}

.UserReplyBlock{
    border-top: 2px solid white;
    width: 80%;
    justify-content: end;
    min-height: 256px;
    padding: 32px;
    margin: 32px auto;
    color: white;
    display: grid;
    grid-template-columns: 128px 1fr max-content;
    grid-template-rows: min-content min-content max-content;
    grid-template-areas:
    "userPic userName userRating"
    "userPic userTimeStamp userTimeStamp"
    "userPic userComment userComment";
}

.UserReplyBlock .userComment{
    width: 100%;
}