.GeneralCarousel{
    position: relative;
    display: flex;
    align-items: start;
    height: 430px;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .GeneralCarousel::-webkit-scrollbar{
    display: none;
  }
  
  .carouselProgressWrapper{
    display: flex;
    padding: 16px;
    padding-bottom: 0;
    gap: 16px;
    transition: width 2s ease;
    overflow: hidden;
  }

  .carouselProgressContainer{
    width: 90%;
    display: flex;
    justify-content: flex-end;
  }
  
  .carouselProgress{
    width: 64px;
    height: 8px;
    background-color: #868686;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #currentProg{
    background-color: #4e4e4e;
  }
  
  .carousel-wrapper {
    position: relative;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 48px;
  }

  @media(min-width: 800px) {
    

    .carousel-wrapper:has(> #carouselCarotRight)::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 128px;
      height: 100%;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255));
      pointer-events: none; /* allow clicks to pass through */
      z-index: 2;
    }
  
    .carousel-wrapper::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0px;
      height: 100%;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255));
      pointer-events: none; /* allow clicks to pass through */
      z-index: 2;
      transition: width 0.3s ease;
    }
    
    .carousel-wrapper:has(> #carouselCarotLeft)::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 128px;
      height: 100%;
      background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
      pointer-events: none; /* allow clicks to pass through */
      z-index: 2;
    }
  
    .carousel-wrapper::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0px;
      height: 100%;
      background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
      pointer-events: none; /* allow clicks to pass through */
      z-index: 2;
      transition: width 0.3s ease;
    }
  }
  
  .carousel-track{
    position: relative;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: nowrap;
    height: 400px;
    gap: 16px;
    padding: 16px;
  }

  .carousel-track img{
    height: 380px;
  }

  .carousel-track h5{
    color: #575757;
  }

    .carousel-track h4{
    color: #303030;
  }
  
  .carousel-image{
    border-radius: 8px;
    transition: transform 0.1s ease;
    scroll-snap-align: center;
    height: inherit;
    object-fit: cover;
  }

  .carousel-image:hover{
    transform: scale(1.05);
  }

  .carouselTitle{
    position: relative;
    padding-left: 96px;
    padding-right: 32px;
    border-bottom: 3px solid black;
    width: fit-content;
  }

  .carouselTitle h1{
    font-weight: 900;
    font-family: "Charis SIL";
    font-size: 48px;
  }

  .carouselLink{
    height: inherit;
  }

  .carouselCarot{
    width: 67px;
    height: 132px;
  }

  #Inactive{
    position: absolute;
    top: 128px;
    right: 0;
    z-index: 4;
    width: 0px;
  }
  
  #carouselCarotRight{
    position: absolute;
    top: 128px;
    right: 0;
    z-index: 4;
    width: 67px;
    height: 132px;
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    -webkit-mask-image: url('./icons/CarouselArrowRight.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
  
    mask-image: url('./icons/CarouselArrowRight.png');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  
    cursor: pointer;
  
    background: linear-gradient(45deg, #8f1176, #33a3ff);
    background-size: 200% 200%;       /* <- Allows movement */
    background-position: left center; /* <- Initial position */
    transition: background-position 0.2s ease, width 0.2s ease;
  }
  
  #carouselCarotRight:hover{
    background-position: right center;
  }
  
  #carouselCarotLeft{
    position: absolute;
    top: 128px;
    left: 0;
    z-index: 4;
    width: 67px;
    height: 132px;
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    -webkit-mask-image: url('./icons/CarouselArrowRight.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
  
    mask-image: url('./icons/CarouselArrowLeft.png');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  
    cursor: pointer;
  
    background: linear-gradient(45deg, #8f1176, #33a3ff);
    background-size: 200% 200%;       /* <- Allows movement */
    background-position: left center; /* <- Initial position */
    transition: background-position 0.2s ease, width 0.2s ease;
  }
  
  #carouselCarotLeft:hover{
    background-position: right center;
  }