h1{
  font-size: 48px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 32px;
  font-weight: 400;
}

h4{
  font-size: 24px;
  font-weight: 400;
}

h5{
  font-size: 20px;
  font-weight: 300;
}

.navlinks{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation Bar ./Navbar
  --------------------------------------------- 
  This is used to style the Navigation bar on the home page.
*/
.navbar{
  height: fit-content;
  border-radius: 0px 0px 50px 50px;
  background-color: #121920;
  backdrop-filter: blur(2.5px);
}

.nav-link {
  margin: 10px;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 5.4px;
  text-decoration: none;
}

.nav-link:hover {
  background: linear-gradient(90deg, #56adc7 0%, #7791BA 30.58%, #916FAA 66.83%, #A2479A 95.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.4px;
}

.logo{
  height: 80px;
}