.ArtWeek{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 32px;
}

.ArtWeekWrapper{
    width: 80%;
    margin: 32px auto;
    padding: 64px;
}

.trans-title{
    color: rgba(0, 0, 0, 0.753);
}